{
  "presets": [
    [
      "@babel/preset-env",
      {
        "corejs": 3,
        "useBuiltIns": "usage",
        "targets": "> 0.2%, not dead, not op_mini all"
      }
    ],
    ["@babel/preset-react", {}]
  ],
  "plugins": [
    [
      "import",
      {
        "libraryName": "antd",
        "style": "css"
      }
    ],
    ["babel-plugin-styled-components", {}],
    ["babel-plugin-macros", {}]
  ]
}